* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    /* background: rgb(0,0,0); */
    background: radial-gradient(circle, rgba(0,0,0,0.028124999999999956) 0%, rgba(253,187,45,1) 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }

#todo-container {

        background: rgb(41, 33, 33);
        width: 400px;
        /* height: 400px; */
        margin: 0 auto;
        border: 2px solid #0033ff;
        padding: 20px;
        color: white;
        border-radius: 15px;
      }

.header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#input_box {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 5px;
    /* margin-bottom: 20px; */
}

#input-btn {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
}